@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    min-height: 100vh;
}

a.active {
    color: rgba(255, 255, 255, 0.997);
    text-shadow: #41f93d 0px 0px 10px;
}

::-webkit-scrollbar {
    width: 0px; 
    height: 0px;
}
